body, html {
    border: 0;
  }
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
     
    height: 100vh;
  }
    
    #root {
      max-width: 800px;
      margin: none;
      
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .task-list {
      list-style-type: none;
    }
    
    .completed {
      text-decoration: line-through;
    }